
.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: rgba(53, 96, 53, 0.42);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}
.submit:hover {
background: #fff !important;
color: #000;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 80%; 
    color:#fff;
    font-size: 1.1em;
}

.search:focus {
    outline: none;
}

.search::placeholder{
    color: #ccc;
}